* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

body {
  background-color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: rgb(61, 61, 61);
}

h1 {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  background-color: black;
}

.header h1 {
  background-color: black;
  color: rgb(177, 162, 162);
  font-family: "New Rocker", system-ui;
  font-size: 40px;
}

.bands {
  margin-top: 40px;
  grid-template-areas:
    "nirvana"
    "foo"
    "guns"
    "gday"
    "alice";
}

@media screen and (min-width: 0px) {
  .nirvana {
    background-image: url(images/background-images/nirvana-500x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-500x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-500x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-500x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-500x800px.webp);
  }
}

@media screen and (min-width: 540px) {
  .nirvana {
    background-image: url(images/background-images/nirvana-700x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-700x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-700x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-700x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-700x800px.webp);
  }
}

@media screen and (min-width: 700px) {
  .nirvana {
    background-image: url(images/background-images/nirvana-1000x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-1000x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-1000x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-1000x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-1000x800px.webp);
  }
}

@media screen and (min-width: 1000px) {
  .bands {
    grid-auto-rows: 390px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ".  nirvana"
      "foo  nirvana"
      "foo  guns"
      "gday  guns"
      "gday  alice"
      ".  alice";
  }
  .nirvana {
    background-image: url(images/background-images/nirvana-570x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-570x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-570x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-570x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-570x800px.webp);
  }
}

.bands {
  display: grid;
  gap: 20px;
}

.guns-n-roses,
.foo-fighters,
.nirvana,
.green-day,
.alice-cooper {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 15px;
  height: 800px;
}

.guns-n-roses p,
.foo-fighters p,
.nirvana p,
.green-day p,
.alice-cooper p {
  font-size: 60px;
  color: rgb(177, 162, 162);
  font-family: "New Rocker", system-ui;
  background-color: black;
  margin-top: 180px;
}

.guns-n-roses {
  /* background-image: url(images/background-images/guns-n-roses-live-test.webp); */
  grid-area: guns;
}

.foo-fighters {
  /* background-image: url(images/background-images/foo-fighters-test2.webp); */
  grid-area: foo;
}

.nirvana {
  grid-area: nirvana;
}

.green-day {
  grid-area: gday;
}

.alice-cooper {
  grid-area: alice;
}
