* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #b1a2a2;
}

h1 {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: rgb(177, 162, 162);
  font-family: "New Rocker", system-ui;
  font-size: 70px;
}

h2 {
  padding: 20px 30px;
  margin: 30px;
  font-size: 50px;
  font-family: "New Rocker", system-ui;
  color: rgb(177, 162, 162);
  background-color: rgba(3, 14, 22, 0.85);
}

body {
  background: url(images/background-images/backgrund-test-3200x1700px.webp)
    no-repeat center center fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: rgba(65, 65, 65, 0.9);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: black;
  border-radius: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(3, 14, 22, 0.75);
  border-radius: 15px;
  height: 60px;
  margin-top: 20px;
  font-size: 32px;
  font-family: "New Rocker", system-ui;
}

.navbar a {
  background-color: red;
}

.hem {
  margin-left: 40px;
}

.sida-2 {
  margin-right: 40px;
}

.bands {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  grid-template-areas:
    "text1"
    "nirvana"
    "foo"
    "guns"
    "gday"
    "alice"
    "text2";
}

@media screen and (min-width: 0px) {
  .nirvana {
    background-image: url(images/background-images/nirvana-500x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-500x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-500x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-500x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-500x800px.webp);
  }
}

@media screen and (min-width: 540px) {
  .nirvana {
    background-image: url(images/background-images/nirvana-700x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-700x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-700x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-700x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-700x800px.webp);
  }
}

@media screen and (min-width: 700px) {
  .nirvana {
    background-image: url(images/background-images/nirvana-1000x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-1000x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-1000x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-1000x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-1000x800px.webp);
  }
}

@media screen and (min-width: 1000px) {
  .bands {
    grid-auto-rows: 390px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text1  nirvana"
      "foo  nirvana"
      "foo  guns"
      "gday  guns"
      "gday  alice"
      "text2  alice";
  }
  .nirvana {
    background-image: url(images/background-images/nirvana-570x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-570x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-570x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-570x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-570x800px.webp);
  }
}

.guns-n-roses,
.foo-fighters,
.nirvana,
.green-day,
.alice-cooper {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 15px;
  height: 800px;
}

.guns-n-roses p,
.foo-fighters p,
.nirvana p,
.green-day p,
.alice-cooper p {
  font-size: 60px;
  color: rgb(177, 162, 162);
  font-family: "New Rocker", system-ui;
  background-color: rgba(3, 14, 22, 0.85);
  margin-top: 350px;
  border-radius: 15px;
  padding: 10px;
}

.text1 p,
.text2 p {
  margin: 40px;
  font-size: 32px;
  color: rgb(177, 162, 162);
}

.text1,
.text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(3, 14, 22, 0.75);
  border-radius: 15px;
}

.text1 {
  grid-area: text1;
}

.guns-n-roses {
  grid-area: guns;
}

.foo-fighters {
  grid-area: foo;
}

.nirvana {
  grid-area: nirvana;
}

.green-day {
  grid-area: gday;
}

.alice-cooper {
  grid-area: alice;
}

.text2 {
  grid-area: text2;
}

.mini-header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#nirvana-text p,
#foo-fighters-text p,
#guns-n-roses-text p,
#green-day-text p,
#alice-cooper-text p {
  margin: 20px;
  padding: 40px;
  background-color: rgba(3, 14, 22, 0.75);
  color: rgb(177, 162, 162);
  font-size: 30px;
  border-radius: 15px;
  border-color: black;
}

#nirvana-text a,
#foo-fighters-text a,
#guns-n-roses-text a,
#green-day-text a,
#alice-cooper-text a {
  color: rgb(6,69,173);
  text-decoration: underline;
}

#nirvana-logo,
#foo-fighters-logo,
#guns-n-roses-logo,
#green-day-logo,
#alice-cooper-logo {
  margin-left: 60px;
  border-radius: 60px;
  border: solid;
  border-width: 4px;
}

.arrow-up {
  background-color: white;
  position: fixed;
  margin-left: 1200px;
  bottom: 20px;
  border-radius: 15px;
}

#pil {
  width: 60px;
}