* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  font-family: "New Rocker", system-ui;
  text-shadow: 0px 0px 40px rgb(177, 162, 162);
}

h2 {
  padding: 20px 30px;
  margin: 30px;
  font-size: 70px;
  font-family: "New Rocker", system-ui;
  color: white;
  background-color: rgb(3, 14, 22);
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 0px rgb(57, 57, 57);
}

h3 {
  margin: 40px;
  color: white;
  font-family: "New Rocker", system-ui;
}

li {
  list-style: none;
}

body {
  background: url(images/background-images/backgrund-test-3200x1700px.webp)
    no-repeat center center fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: rgba(65, 65, 65, 0.9);
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin: 0;
  background-color: rgba(3, 14, 22, 0.75);
  border-radius: 15px;
}

.navbar a {
  text-shadow: 3px 3px 0px rgb(65, 65, 65);
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: start;
}

.nav-link {
  transition: 0.7s ease;
  margin-left: 10px;
}

.hamburgare {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 15px;
  margin-top: 20px;
}

.om-artisterna {
  margin-right: 40px;
}

.info {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 14, 22, 0.75);
  border-radius: 15px;
  margin: 40px 0px;
  font-size: 32px;
}

.datum {
  text-align: center;
}

.lorem {
  text-align: center;
  color: rgb(177, 162, 162);
}

.lorem p {
  margin: 40px;
}

#bands {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "text1"
    "nirvana"
    "foo"
    "guns"
    "gday"
    "alice"
    "text2";
}

.band-links {
  transition: 0.7s ease;
}

.band-links:hover,
.nav-link:hover {
  color: dodgerblue;
}

.guns-n-roses,
.foo-fighters,
.nirvana,
.green-day,
.alice-cooper {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 15px;
  height: 800px;
}

.guns-n-roses p,
.foo-fighters p,
.nirvana p,
.green-day p,
.alice-cooper p {
  font-size: 60px;
  font-family: "New Rocker", system-ui;
  background-color: rgba(3, 14, 22, 0.85);
  margin-top: 350px;
  border-radius: 15px;
  padding: 10px;
}

.text1,
.text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(3, 14, 22, 0.75);
  border-radius: 15px;
}

.text1 p,
.text2 p {
  margin: 40px;
  font-size: 32px;
  color: rgb(177, 162, 162);
}

.text1 {
  grid-area: text1;
}

.guns-n-roses {
  grid-area: guns;
}

.foo-fighters {
  grid-area: foo;
}

.nirvana {
  grid-area: nirvana;
}

.green-day {
  grid-area: gday;
}

.alice-cooper {
  grid-area: alice;
}

.text2 {
  grid-area: text2;
}

.mini-header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

#nirvana-text p,
#foo-fighters-text p,
#guns-n-roses-text p,
#green-day-text p,
#alice-cooper-text p {
  margin: 20px;
  padding: 40px;
  background-color: rgba(3, 14, 22, 0.75);
  color: rgb(177, 162, 162);
  font-size: 30px;
  border-radius: 15px;
  border-color: black;
}

#nirvana-text a,
#foo-fighters-text a,
#guns-n-roses-text a,
#green-day-text a,
#alice-cooper-text a {
  color: rgb(6, 69, 173);
  text-decoration: underline;
}

#nirvana-logo,
#foo-fighters-logo,
#guns-n-roses-logo,
#green-day-logo,
#alice-cooper-logo {
  margin-left: 60px;
  border-radius: 60px;
  border: solid;
  border-width: 4px;
}

.pil-upp {
  background-color: white;
  position: fixed;
  margin-left: 1200px;
  bottom: 20px;
  border-radius: 15px;
}

#pil {
  width: 60px;
}

@media screen and (max-width: 1400px) {
  .pil-upp {
    right: 100%;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 130px;
  }
  h3 {
    font-size: 110px;
  }
  .header {
    padding: 40px;
  }
  #bands {
    grid-auto-rows: 390px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text1  nirvana"
      "foo  nirvana"
      "foo  guns"
      "gday  guns"
      "gday  alice"
      "text2  alice";
  }
  .nirvana {
    background-image: url(images/background-images/nirvana-570x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-570x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-570x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-570x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-570x800px.webp);
  }

  .navbar {
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 70px;
  }

  .nav-menu {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 90px;
    margin: 25px 0;
  }
  h3 {
    font-size: 80px;
    text-shadow: 5px 5px 2px rgb(177, 162, 162);
  }
  .nirvana {
    background-image: url(images/background-images/nirvana-1000x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-1000x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-1000x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-1000x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-1000x800px.webp);
  }

  .navbar {
    display: flex;
    justify-content: end;
    height: 60px;
  }

  .hamburgare {
    display: block;
  }

  .hamburgare.active {
    position: fixed;
    top: 37px;
    right: 44px;
  }

  .hamburgare.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburgare.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburgare.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: 100%;
    top: 0;
    opacity: 0;
    background-color: rgba(3, 14, 22, 0.75);
    width: 50%;
    text-align: start;
    padding: 40px;
    height: 100vh;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
  }

  .nav-item {
    width: 100%;
  }

  #nav-item1 {
    margin-top: 44px;
  }

  .nav-item:hover {
    color: dodgerblue;
  }

  .nav-menu.active {
    opacity: 100;
    right: 0;
    gap: 40px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 70px;
    margin: 20px 0;
  }
  h3 {
    font-size: 60px;
    text-shadow: 3px 3px 0px rgb(177, 162, 162);
  }
  .nirvana {
    background-image: url(images/background-images/nirvana-700x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-700x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-700x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-700x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-700x800px.webp);
  }
  .navbar {
    height: 50px;
  }
  .hamburgare.active {
    top: 32px;
  }
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 50px;
    margin: 15px 0;
  }
  h3 {
    font-size: 50px;
    text-shadow: 3px 3px 2px rgb(177, 162, 162);
  }
  .nirvana {
    background-image: url(images/background-images/nirvana-500x800.webp);
  }
  .foo-fighters {
    background-image: url(images/background-images/foo-fighters-500x800px.webp);
  }
  .guns-n-roses {
    background-image: url(images/background-images/guns-n-roses-500x800px.webp);
  }
  .green-day {
    background-image: url(images/background-images/green-day-500x800px.webp);
  }
  .alice-cooper {
    background-image: url(images/background-images/alice-cooper-500x800px.webp);
  }
  .navbar {
    height: 45px;
  }
  .hamburgare.active {
    top: 30px;
  }
}
